
h2{
    margin: 1% 1% 1% 1%;

}

h4{
    margin: 5% 5% 3% 5%;
}

.response{
    margin: 5% 5% 5% 3%;
    color: gray;
    font-weight:300;
}

.title-div{
    display: flex;
    justify-content: center;
    margin: 3% 1% 0% 1%;
}

.row-div{
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
}

.textForm{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 10%;
    margin-right: 0;
}

.buttonForm{
    grid-column-start: 5;
    grid-column-end: 7;
    margin-left: 5px;
    margin-right: 10%
}

.chat-box{
    border: gray solid 1px;
    margin: 3% 5% 5% 6%;
    border-radius: 0.5rem;
    background-color: white;
}

.border-div{
    border: gray solid 1px;
    margin: 2% 2% 2% 2%;
    background-color: whitesmoke;
}